.container {
  margin-top: 30px;
}
body {
  background-color: rgb(24, 74, 92);
}
p {
   color: rgb(225, 213, 213);
}
h1 {
  color: steelblue;
}
h3 {
  color: rgb(182, 128, 35);
}

/* styling for any header */
.index-info {
  font-size: 1.2em;
}
.fear p {
  font-size: 1.3em;
  color: rgb(225, 213, 213);
}
.red {
  color: rgb(255, 42, 42);
}
.yellow {
  color: rgb(254, 254, 48);
}
.green {
  color: rgb(47, 250, 47);
}
.fear-history p {
  font-size: 1.3em;
}
.btn-success {
  padding: 2% 30%;
}

/* Styling for any table */
.symbol {
  width: 18%;
}
.top-tier-vol {
  color: rgb(167, 167, 37);
}
img {
  width: 35px;
  border-radius: 25%;
  margin-right: 10px;
}
