
body {
  background-color: rgb(215, 246, 246);
}
p {
   color: rgb(255, 255, 255);
}
h1 {
  color: rgb(175,238,238);
}
h3 {
  color: rgb(52, 167, 167);
}
.streak {
  background-color: rgb(96, 162, 152);
  height: 30px;
}
/* styling for any header */
header {
  width: 85%;
  margin: auto;
  font-family: 'Playball', cursive;
}
.fear {
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.694);
  margin-right: 10px;
  padding-top: 25px;
}
.fear-history{
  margin-top: 20px;
  background-color: rgba(0, 0, 0, 0.694);
  padding-top: 25px;
}
.title {
  background-color: rgba(0, 0, 0, 0.694);
  margin-right: 10px;
  margin-top: 20px;
}
.index-info {
  font-size: 1.2em;
  font-family: 'Josefin Slab', serif;
}
.fear p {
  font-family: 'Josefin Slab', serif;
  font-size: 1.6em;
}
.red {
  color: rgb(255, 42, 42);
}
.yellow {
  color: rgb(254, 254, 48);
}
.green {
  color: rgb(47, 250, 47);
}
.fear-history p {
  font-family: 'Josefin Slab', serif;
  font-size: 1.6em;
}
.btn-success {
  padding: 1% 25%;
  position: relative;
  bottom: 10px;
  font-size: 1.5em;
}

/* Styling for any table */
.symbol {
  width: 18%;
}
.top-tier-vol {
  color: rgb(167, 167, 37);
}
img {
  width: 35px;
  border-radius: 25%;
  margin-right: 10px;
}

/* Spinner */
.middle {
    position: fixed;
    top: 70%;
    left: 50%;
}

.width{
  width: 85%;
  margin: auto;
}
td {
  width: 200px;
}
.rank{
  width: 5%;
  text-align: center;
}

/* error message */
.networkModal {
  color: red;
  text-align: center;
  width: 80%;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
}


@media (max-width: 900px) {
  .symbol span {
    display: block;
  }
}
